<div class= "row">
  <div class="col m7 offset-m2 left">
    <h5>New Task</h5>
    <form action="/todolist" method= "post">
      <p><%= @msg if @msg %></p>
      <ul>
        <li>Title:<%= textbox_tag "title" %></li>
        <li>Event Date & Time: <%= textbox_tag "start" %></li>
        <li><%= submit_tag "add_task", "Add Task", "btn left" %></li>
        <li><%= link_tag "/", "btn right", "View Tasks" %></li>
        <li><%= image_tag "brikenstock.jpg" %></li>
      </ul>
    </form>

    <% form_tag("test", "action") do%>
    <li>Title:<%= textbox_tag "title" %></li>
    <li>Title:<%= textbox_tag "title" %></li>
    <% end %>
  </div>
</div>